.circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: transparent;
	border:5px solid black;
	animation: rotation 2s linear infinte;
	-webkit-animation: rotation 2s infinite linear;
}


@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(360deg);
		border:5px solid white;
	}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}